.size-xxl{
    height: 140px;
    width: 140px;
    cursor: pointer;
}


.size-xl{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.size-l{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.size-m{
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.size-s{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.size-xs{
    height: 40px;
    width: 40px;
    cursor: pointer;
}